body {
    display: flex;
    flex-direction: column;

}

div {
    margin: 10px;
    padding: 10px;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    flex: 200px;
    background: #1F2937;
    color: white;

}

.header-img {
    height: 300px;
    width: 500px;
    object-fit: cover;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container2_body {
    display: flex;
}

.img_and_text {
    margin: 10px;
}

.container_copyright {
    background: #1F2937;
}
